[Desktop Entry]
Type=Application
Name=Chromium Update & Run
Exec=/home/luiz/apps/chromium/update-and-run.sh
Icon=/home/luiz/apps/chromium/icon-update.png
Terminal=false
Categories=Network;WebBrowser;

